// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// バリデーションエラーが発生すると、自動で生成される
.field_with_errors {
	display: inline-block;
	border: 1px solid #f00;
	width: 80%;
}

// 投稿した内容とエラーメッセージのレイアウト幅を定義
.panel, .alert {
	width: 75%;
}

// 編集画面のタイトルの配置を定義
#edit_title {
	text-align: center;
}
